  <launch>
  
  <arg name="robot_namespace" default="/"/>
  <param name="robot_description" command="$(find xacro)/xacro '$(find perception_playground)/urdf/wombot.urdf.xacro' robot_namespace:=$(arg robot_namespace) " />

  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

   <node pkg="tf" type="static_transform_publisher" name="floor" args="0 0 -0.02085 0 0 0 1 /left_camera_link /floor  100"/>

</launch>